.body{
        padding-bottom: 1000px ;
        background-color: rgb(19, 30, 35);
        padding-top: 180px;
        padding-left: 430px;
        margin: 0;
  }
  
  .header {
      height: 70px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
    
      background-color: rgb(19, 30, 35);
      letter-spacing: 60;
      
    }


.left-section{
      display: flex;
      flex: 1;
      width:700px;
      align-items: center;
      flex-shrink: 0;
}
.logo{
      width:32px;
      margin-left: 13px;  
  }
.logoid{
      margin-left: 10px;
      color:rgb(237 249 255);
      font-family: Skranji;
      font-size: 20px;
      font-weight: 500;
    
}

.middle-section{
    background-color: rgb(4, 4, 4, 0.2);
    color:rgb(212, 223, 229);
    width:820px;
    display: flex;
    flex: 1;
    align-items: end;
    justify-content: space-between;
    flex-shrink: 0;
    column-gap: 5px;
  
    font-family:  Proza-Libre, ui-sans-serif,system-ui, sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
  
    border-radius: 8px;
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 10px;
}
.middlebutton{
    background-color: rgb(4, 4, 4, 0.05);
    margin-right: 10px;
    font-family:  Proza-Libre, ui-sans-serif,system-ui, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color:rgb(212, 223, 229);
    margin-bottom: 10px;
    column-gap: 5px;
    border: none;
    width: 300px;
    text-wrap: nowrap;
    height: 30px;
    
  }
  .middlebutton:hover{
    cursor: pointer;
    background-color: rgba(161, 198, 225, 0.3);
    color: rgb(143, 194, 230);
    border-radius: 5px;
    transition-duration: 0.15s ease-in-out;
    width: 300px;
   
  }
  .right-section{
    width: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding-left: 20px;
}

.login{
    background-color: rgb(238, 148, 85);
    color: rgb(19, 30, 35);
    border-radius: 10px;
    border: none ;

    width: 90px;
    height: 50px;
    margin-right: 10px;

    font-family:Proza-Libre, ui-sans-serif,system-ui, sans-serif;
    font-size: 15px;
    font-weight: 500;

  }
  .login:hover{
    cursor: pointer;
    background-color: white;
    transition-duration: 0.15s;
  }

  .sidebar{
    position: fixed;
    left:46px;
    bottom: 0;
    top: 180px;
    background-color: rgb(19, 30, 35);
    width: 400px;
    color: white;
    z-index: 90;
    font-size: 18px;
    font-family: Proza-Libre, ui-sans-serif,system-ui, sans-serif;
    font-weight: 500;
    
}
.sidebar-link{
    background-color: rgb(19, 30, 35);
    color: white;
    border-radius: 20;
    border-color: rgb(19, 30, 35) ;
    font-size: 19px;
    border: 0;
    height: 55px;
    display: flex;
    align-items: center;
    margin-left: 30px;
    letter-spacing: 60;
    font-family: Proza-Libre, ui-sans-serif,system-ui, sans-serif;
    font-weight: 500;
    padding-left: 15px;
    padding-right: 15px;
}
.sidebar-link:hover{
    background-color: rgba(161, 198, 225, 0.3);
    border-radius: 8px;
    cursor: pointer;
    z-index: 40;
    color:rgb(143, 194, 230);
    transition-duration: 0.15s;
  
}
.sidebar-meet{
    background-color:rgb(19, 30, 35);
    
    display:flex;
    font-family: Skranji;
    font-size: 50px;
    font-weight: 400;
    padding-left: 67px;
    align-items: center;
    position: fixed;
    top: 70px;
    left: 0;
    height: 110px;
    width: 400px;
    color: rgb(239 246 139);
  
}

.pic-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    max-width: 100%;
    align-items: center;
}
.container::before{
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
    grid-template-columns: 1fr 1fr 1fr;
    width: 150px;
    height: 100px;
    
    display: block;
    margin-top: 100px;
}
.Person{
    color:rgb(252, 250, 250);
    display: grid;
    justify-items: center;
    text-align: center;
}


.container{
    position: relative;
    width: 150px;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;


}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
    bottom: -48px;
    transition: transform 0.15s ease-in-out;



}
.img:hover{
    transform: scale(1.1);
    z-index: 90;
}
.img-info-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    
}
.socialmedia{
    text-align: center; 
    width: 100%; 

}

.fa:hover{
    opacity: 0.7; 
    cursor: pointer;
}


.name{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: Proza-Libre, ui-sans-serif,system-ui, sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.Committee{
    font-family: Proza-Libre, ui-sans-serif,system-ui, sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 0;
}
.role{
    margin-bottom: 4px;
    font-family: Proza-Libre, ui-sans-serif,system-ui, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: 5px;
}

